header{
    background-color:yellow;
    color:black;
    font-style:italic
}
p{
  text-decoration-color: yellow;
  color:navy blue;
}
h1{
    margin-bottom:0;
    padding-bottom:0;
}
nav{
    background-color:navy;
    color:white;
    font-weight: bold;
    padding: 14px;

}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;
  margin:50px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

a{
  color:pink;
}
#publisher{
  color: red;
}
.nav-link
{
  color: white;
  text-decoration-style: solid;
}
/* Table Sort */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: center;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: white transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
